.menu-button {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	z-index: 1000;
	position: fixed;
	right: 20px;
	top: 20px;
	background-color: #fff;
	border-radius: 50%;
	font-size: 0;
	width: 48px;
	height: 48px;
	padding: 12px 0;
	box-shadow: 0 0 16px rgba(0, 0, 0, .3);
}
.menu-icon {
	display: block;
	height: 3px;
	width: 30px;
	background-color: #000;
}
.menu-full {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #0962ea;
	z-index: 100;
}
.menu-nav {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.menu-nav-item {
	font-size: 18px;
	text-decoration: none;
	color: #fff;
	padding: 20px 100px;
	margin-bottom: 20px;
	text-align: center;
	transition: all 0.2s;
}
.menu-nav-item:hover {
	background-color: #fff;
	color: #0962ea;
	transform: translate(3px, -3px);
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
